[Desktop Entry]
Encoding=UTF-8
Name=Stakework-Qt (Resync)
Comment=Stakework P2P gaming related cryptocurrency
Comment[fr]=Stakework, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Stakework, eşten eşe kriptografik sanal para birimi
Exec=stakework-qt --resync %u
Terminal=false
Type=Application
Icon=stakework128
MimeType=x-scheme-handler/stakework;
Categories=Office;Finance;
