# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=3.0.0
Encoding=UTF-8
Name=Stakework Qt Testnet (reindex)
Icon=${SNAP}/stakework128testnet.png
MimeType=x-scheme-handler/stakework;
Exec=stakework %u --testnet --reindex
Terminal=false
Categories=Office;Finance;Cryptocurrency;
Comment=🗺️Stakework Digital Currency QT (Testnet) (reindex) 👯👯 👛 (by 🐼CEVAP🐼) CE source code (Community Edition)
Keywords=internet;stakework;testnet;qt;crypto;currency;snap;snapcraft;reindex;
Name[de_DE]=stakework-testnet-reindex.desktop.desktop

